<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

    <div class ="container">
        <div class= "row mt-5"> <!--여백추가 mt-5-->
            <div class= "col-12 text-center">
                <h1>설문지</h1>

            </div>
        </div>
        <div class= "row">
            <div class= "col-12">
                {% if res_data %}
                <p style="color:red"> {{res_data}}</p>
                {% endif %}
            <form method="GET" action="">
                {% csrf_token %} <!--크로스 도메인 막기위해 암호화된 키 숨겨놓는다.-->
                <div class="form-group mb-3 mt-5"><!--form의 경우 데이터를 서버에 전달-->
<!--                        <label for="username" class="form-label">사용자 이름</label>-->
                        <p>1. 맥주종류를 선택하세요</p>
                        <label><input type="checkbox" name="category" value="흑맥주"> 흑맥주</label>
                        <label><input type="checkbox" name="category" value="밀맥주"> 밀맥주</label>
                        <label><input type="checkbox" name="category" value="과일맥주"> 과일맥주</label>
                        <label><input type="checkbox" name="category" value="수제맥주"> 수제맥주</label>

                </div>

                    <p>2. 도수를 입력하세요</p>
                    <input type="number" class="form-control form-control-sm" id="ABV" placeholder="ABV" name="ABV">

                <div class="form-group mb-3">

                    <p>3. 맥주종류를 선택하세요</p>
                    <label><input type="checkbox" name="sugar" value="1"> 1</label>
                    <label><input type="checkbox" name="sugar" value="2"> 2</label>
                    <label><input type="checkbox" name="sugar" value="3"> 3</label>
                    <label><input type="checkbox" name="sugar" value="4"> 4</label>
                    <label><input type="checkbox" name="sugar" value="5"> 5</label>
                    <label><input type="checkbox" name="sugar" value="6"> 6</label>
                    <label><input type="checkbox" name="sugar" value="7"> 7</label>
                    <label><input type="checkbox" name="sugar" value="8"> 8</label>
                    <label><input type="checkbox" name="sugar" value="9"> 9</label>
                    <label><input type="checkbox" name="sugar" value="10"> 10</label>

                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary" onClick="location.href=result.html">등록</button>
                </div>
            </form>

            </div>
        </div>
    </div>
</body>
</html>