{% extends 'base.html' %}
{% block detail %}

<!-- Cases section-->
        <div class="section section-cases pp-scrollable">
          <canvas class="noise"></canvas>
          <div class="section-main cases js-section" id="cases">
            <div class="cases__play-animation-right"></div>
            <div class="cases__play-animation-left"></div>
            <div class="cases__container">
              <div class="cases__row-wrapper">
                <div class="cases__row js-cases-row">
                  <!-- Case card-->
                    {% for b in beers %}
                    <a class="cases__card js-cases-card" href="{{b.get_absolute_url}}">
                    <div class="cases__text">
                      <div class="cases__card-name">{{ b.name }}</div>
                    </div><img class="cases__card-img" src="{{ b.image.url }}" alt="img"></a>
                    {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}