{% extends 'base.html' %}
{% load static %}
{% block detail %}

        <!-- Cases section-->
        <div class="section section-cases pp-scrollable">
          <canvas class="noise"></canvas>



          <div class="section-main cases js-section" id="cases">
            <div class="cases__play-animation-right"></div>
            <div class="cases__play-animation-left"></div>
            <div class="cases__container">
              <div class="cases__row-wrapper">
                <div class="cases__row js-cases-row">
                  <!-- Case card--><a class="cases__card js-cases-card" href="case-page.html">
                    <div class="cases__text">
                      <div class="cases__card-number">01</div>
                      <div class="cases__card-name">Blue Bottles</div>
                    </div><img class="cases__card-img" src="{% static 'img/cases/img1.jpg' %}" alt="img"></a>
                  <!-- Case card--><a class="cases__card js-cases-card" href="case-page.html">
                    <div class="cases__text">
                      <div class="cases__card-number">02</div>
                      <div class="cases__card-name">Top Stories</div>
                    </div><img class="cases__card-img" src="{% static 'img/cases/img2.jpg' %}" alt="img"></a>
                  <!-- Case card--><a class="cases__card js-cases-card" href="case-page.html">
                    <div class="cases__text">
                      <div class="cases__card-number">03</div>
                      <div class="cases__card-name">Dragon Memorie</div>
                    </div><img class="cases__card-img" src="{% static 'img/cases/img3.jpg' %}" alt="img"></a>
                  <!-- Case card--><a class="cases__card js-cases-card" href="case-page.html">
                    <div class="cases__text">
                      <div class="cases__card-number">04</div>
                      <div class="cases__card-name">Unique Culture</div>
                    </div><img class="cases__card-img" src="{% static 'img/cases/img4.jpg' %}" alt="img"></a>
                  <!-- Case card--><a class="cases__card js-cases-card" href="case-page.html">
                    <div class="cases__text">
                      <div class="cases__card-number">05</div>
                      <div class="cases__card-name">Sand Castle</div>
                    </div><img class="cases__card-img" src="{% static 'img/cases/img5.jpg' %}" alt="img"></a>
                  <!-- Case card--><a class="cases__card js-cases-card" href="case-page.html">
                    <div class="cases__text">
                      <div class="cases__card-number">06</div>
                      <div class="cases__card-name">Day Ahead</div>
                    </div><img class="cases__card-img" src="{% static 'img/cases/img6.jpg' %}" alt="img"></a>
                </div>
              </div>
            </div>
          </div>
        </div>


{% endblock %}