<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>LEWIS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'css/main2.css'%}" rel="stylesheet">
  </head>
  <body>
    <header class="header header-js">
      <div class="header__wrapper header-wrapper-js">
        <div class="header__left-inner">
          <div class="header__logo-wrapper">
            <div class="header__logo">Lew<i>i<span>i</span>i</i>s</div>
          </div><a class="header__author-mail" href="#">hello@georgelewis.com</a>
        </div>
        <div class="header__right-inner">
          <ul class="header__social">
            <li class="header__social-item"><a class="header__social-link" href="#">Behance</a></li>
            <li class="header__social-item"><a class="header__social-link" href="#">Instagram</a></li>
          </ul>
          <div class="header__burger"><span></span></div>
          <div class="header__menu">
            <div class="header__menu-exit"></div>
            <ul class="header__menu-social">
              <li class="header__social-item"><a class="header__social-link" href="#">Behance</a></li>
              <li class="header__social-item"><a class="header__social-link" href="#">Instagram</a></li>
            </ul>
            <div class="header__menu-content">
              <ul class="header__menu-list">
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#home">Home</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#cases">Portfolio</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#about">About</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#services">Services</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#partners">Testimonials</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#awards">Blog</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#testimonials">Clients</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="index.html#blog">Awards</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="./index.html#contacts">Contacts </a></li>
              </ul>
              <ul class="header__menu-contacts">
                <li class="header__menu-contact"><a class="header__menu-link" href="#">+ 34 2454 3459 21</a></li>
                <li class="header__menu-contact"><a class="header__menu-link" href="#">hello@georgelewis.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <!-- Main image of the case page-->
      <div class="head">평가가 많아질수록 정확한 추천이 가능해져요!</div>
<!--      헤드 고정 시켜볼까??   -->
      <div class="case-bg">
        <section class="content">
          <div class="box-wrapper">
            <div class="a_box">
              <img class="photo" src="{% static 'img/cases/main-img-4.jpg' %}">
              <div class="pop_up">
                <h5 class="a_name">이름이름이름</h5>
                <p class="meta_description">설명설명설명설명설명설명설명설명설명</p>
              </div>
            </div>
            <div class="a_box">
              <img class="photo" src='{% static "img/cases/main-img-5.jpg" %}'>
            </div>
            <div class="a_box">
              <img class="photo" src='{% static "img/cases/main-img-4.jpg" %}'>
            </div>
            <div class="a_box">
              <img class="photo" src='{% static "img/cases/main-img-5.jpg" %}'>
            </div>
            <div class="a_box">
              <img class="photo" src='{% static "img/cases/main-img-4.jpg" %}'>
            </div>
            <div class="a_box">
              <img class="photo" src='{% static "img/cases/main-img-5.jpg" %}'>
            </div>
          </div>
        </section>
      </div>
    </main>
    <script src="{% static 'js/libs.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>